/*
COLORS:
*/

$color-primary: #e9ebee;
// $color-primary-light: #55c57a;
$color-primary-dark: #212121;
$color-error: red;

// $color-secondary-light: #ffb900;
$color-secondary-dark: #141823;
// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;
// $color-grey-dark:#777;
// $color-grey-dark-2:#999;

$color-green-darker: #2c5115;
$color-green-dark: #578843;
$color-green-medium: #67ae55;
$color-green-medium-2: #69a74e;
$color-green-light: #a4e388;
$color-green-border-1: #3b6a22;
$color-green-border-2: #3b6e22;
$color-green-border-3: #a4e388;

$color-grey:gray;
$color-grey-light-1: lightgray;
$color-grey-light-2: #bdc7d8;

$color-white:white;
// $color-black:#000;
// $color-grey-light-2: #eee;

// /* FONT */

// $default-font-size: 1.6rem;

// /* GRID */

// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 6rem;